* {
  font-family: "Noto Sans JP", sans-serif;
}

nav {
  font-display: flex;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #b2ad92;
  color: black;
  text-align: center;
}
.nav-link {
  color: black;
}

body {
  background-color: #cac5a7;
}

ul {
  list-style: none;
  text-align: center;
  color: black;
}

li {
  display: inline-block;
}

.card {
  display: center;
}

.container1 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-top: 50px;
  padding: 10px;
  border-style: double;
}

h1 {
  color: #b54d30;
}

.card2 {
  margin: auto;
  margin-top: 30px;
}

h2 {
  color: #b54d30;
}

.container {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-top: 50px;
  padding: 10px;
  border-style: double;
}

.card-deck {
  margin-top: 30px;
}

.card-img-top {
  height: 300px;
  width: 210px;
}

.row {
  margin-top: 50px;
}

#row1 {
  margin: 10vh;
}
.pcard {
  margin-right: 30px;
  margin-left: 30px;
}
