* {
  font-family: "Noto Sans JP", sans-serif;
}

nav {
  font-display: flex;
  padding: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  color: black;
  text-align: center;
}
body {
  background-color: lightgrey;
}

ul {
  list-style: none;
  text-align: center;
  color: black;
}

li {
  display: inline-block;
}

.card {
  display: center;
}

.container1 {
  width: 60%;
  margin: auto;
  background-color: white;
  margin-top: 50px;
}
h1 {
  color: gray;
}

.card2 {
  margin: auto;
}
